html,body{
	font-family: roboto;
}
.container1{
	position: relative;
	left: 0;
	width: 100%;
	height: 900px;
	z-index: 1;
}
#filterblock{
   	margin: 2% 0px 0px 1%;
	position: absolute;
	width: 220px;
	height: 400px;
	float: left;
	border-radius: 2px;
}
#items-cont{
	position: absolute;
	margin:2% 0 0 21%;
	padding: 0;
	float: left;
	height: 900px;
	width: 75%; 
	z-index: 1;
	padding-left: 30px;
	border-radius: 2px;
}
input[type="checkbox"]{
	color:orange;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
button{
	margin-top: 30px;
	width: 100%;
	height: 10%;
	border: none;
	border-radius: 2px;
	background-color: orange;
	color: white;
	font-size: 20px;
}
.blocks p{
	opacity: 0.5;
	display: inline;
	margin: 0;
}
.blocks li{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:50px; 
}
.blocks li:hover{
	background-color: #eeeeee;
}
.min{
	margin-left: 10px;
	font-size: 14px;
	opacity: 0.5;
}
.bg{
	color: white;
	margin-left: 5px;
	display: inline;
	background-color: orange;
	border-radius: 3px;
	padding: 2px 5px;

}

.blocks hr{
	border:none;
	height: 1px;
	background-color:#eeeeee;
	margin: 0;
	margin-left: -20px;
	width: 400px;

}
#res{
	position: absolute;
	top: 73%;
	left: 70%;
	padding: 5px 10px;
	background-color: orange;
	color: white;
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;

}
.filter{
	padding:0;
	background-color: #fff;
	width: 230px;
	height: 210px;
	margin-top: 0%;
	border-radius: 2px;
}
.korzina{
	opacity: 0;
	width: 50%;
	height: 20%;
	background-color: white;
	margin-top: 0px;
	margin-left:-40%;
	border:1px solid orange ;
	display: inline-block;
}
#cart{
	margin: 5% 0 0 5%;
	width: 50%;
	display: inline;
}





