body{
    background-color: #E0E0E0;
}
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    
    width: 90%;
    height: 350px;
    z-index: 1;


}



/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.jcarousel #mobile{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;

}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    z-index: 1;

    padding: 0;
}

.jcarousel li {
    float: left;
    width: 1300px;
    height: 300px;
    z-index: 1;

}

/** Carousel Controls **/

.opwhite-prev,
.opwhite-next{
    position: absolute;
    top: 140px;
    width: 40px;
    height: 55px;
    background-size: cover;
    opacity: 1;
    z-index: 100;

    }

.opwhite-prev {
    left:0px;
    background-image: url(../img/prev.png)

}

.opwhite-next{
    right:0px;
    background-image: url(../img/next.png)


}


.opwhite-prev:hover span,
.opwhite-next:hover span {
    display: block;
}
.jcarousel .slider img{
    width: 1300px;
    height: 300px;
}
.jcarousel-pagination {
    z-index: 5;
}
.jcarousel-pagination a{
    margin-top:-20px;
    float: left;
    width: 240px;
    height: 35px;
    z-index: 15;
    position: relative;
    opacity: 0;
}
.names {
    position: relative;
    list-style: none;
    width: 90%;
    height: 35px;
    display: block;
    margin: 0px;
    padding:0px;
    z-index: 1;
 }

.names li {
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-top: -28px;
    background-color: white;
    float: left;
    width: 200px;
    height: 30px;
    display:block;
    text-align: center;
}
.slideitems li{
    width: 258px;
    background-color: white;
    margin: 2px;
    height: 350px;
    overflow: hidden;

}
#diascar .item p{
    text-align: center;
}
#diascar .item img{
    width: 208px;
    height: 250px;
    margin-left: 20px;
    padding: 0;
}
#diascar{
    background-color: white;
}

#diascar li{
    border: 1px solid white;
    border-radius: 2px;
}
#diascar li:hover{
    border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid orange;

}
#diascar{
    margin-bottom: 80px;
}
.jcarousel-control-next, .jcarousel-control-prev{
    position: absolute;
    height: 300px;
    top: 0px;
    width: 40px;
    z-index: 100;

    }
.jcarousel-control-next{
    right: 0px;
}
.jcarousel-control-next:hover {
    background-image: url(../img/white.png);

}
.jcarousel-control-prev:hover{
    background-image: url(../img/white.png);

}
.loadmore{margin-top: -40px}
#mainslider{
    margin-top: 70px;
}
.search{
    z-index: 30;
    opacity: 1;
}
.phoneback{
    margin-top: -1px;
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url(../img/phone.jpg);
}
#back12{

    background-image: none;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}
