html, body{
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px	;
	font-family: open sans;
	background-color: black;

}




#navd{
	background-color:red;	;

}
#logo{
	width: 15%;
	float: left;
	margin: -0.5% 0 0 3% ;
}
.search{
	color:white; 
	width: 100%;
	background-color:#353535;
	height: 80px;
	display:none;
}
input[type="text"]{
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    background: transparent;
    font: 30px Open Sans light;
    height: 45px;
    color:white; 
    margin: -3% 0 0 5.4%;
}
.search p{
	padding: 1%;
	font-size: 14px;
	margin: 0% 0 0 5%;
}
#img-container{
	margin: 0; 
	width: 60%;}
#i44{
	width: 60%;
	height: 40%;
	}

p{font-family: open sans;}
#navd ul{
	margin-left:11.3%;
	display: inline;
	list-style: none;
	
}
.navanchik a{
	text-decoration: none;
	color:white;
	font-weight: semibold;
}	
.navanchik li{
	display: inline-block;
	position: relative;
  	padding: 30px 40px;
}
.navanchik li:hover{
	background-color: #DCDCDC;
	animation-name:back;
	animation-duration: 1s;
}
.navanchik li:hover >a{
	animation-name:example;
	animation-duration: 0.5s;
	color: black;
}
	@-webkit-keyframes example {
    from {color: white;}
    to {color: black;}}
    @-webkit-keyframes back {
    from {background-color: black;}
    to {background-color: #DCDCDC;}
}

#footer{
	display: block;
	background-color: #313131;
	width: 100%;
	height: 300px;
}
#infoot{
	background-color: #252525;
	width: 100%;
	height: 80px;
	margin-top: 220px;
}
#infoot p{
	color: white;
	font-family:open sans light;
	text-align: center; 
}
#footer #infoot p a{
	text-decoration: none;
	color: #ff6700;}





.left carousel-control{
	height: 100px;
	position: relative;
	top: 20px;
}

#myCarousel{


}

.empty{
	height: 0px;
}




























