html, body{
	margin:0px;
	padding:0px	;
	font-family: roboto;
	background-color: #EDEDED;
}
#navd{
	background-color:black	;
	ul{
		
		display: inline;
		list-style: none;
	}
}
#logo{
	width: 15%;
	float: left;
	margin: -0.5% 0 0 3% ;
}
.search{
	color:white; 
	width: 100%;
	background-color:#353535;
	height: 80px;
	display:none;

	input[type="text"]{
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 1000px;
    padding: 7px;
    border: none;
    background: transparent;
    font: 30px Open Sans light;
    height: 45px;
    color:white; 
    margin: -3% 0 0 5.4%;
	}
    p{
    	margin: 0;
    	padding:16px 0 13px 75px;
		font-size: 14px;
	}

}
#img-container{
	margin: 0; 
	width: 60%;}
#i44{
	width: 60%;
	height: 40%;
	}
.navanchik {
	padding: 0;
	margin-left:14%;
	a{
		text-decoration: none;
		color:white;
		font-weight: semibold;
	}
	li{
		display: inline-block;
		position: relative;
	  	padding: 30px 40px;
	}
	li:hover{
		background-color: #DCDCDC;
		animation-name:back;
		animation-duration: 1s;
		animation-name:example;
		animation-duration: 0.5s;
		color: black;	
	}
		@-webkit-keyframes example {
    from {color: white;}
    to {color: black;}}
    @-webkit-keyframes back {
    from {background-color: black;}
    to {background-color: #DCDCDC;}
	}
}	
#account{
	z-index: 1000;
	position: absolute;
	margin: 0 0 0 73.4%;
	display: none;
	width: 200px;
	height: 230px;
	background-color: white;
	float: right;
	box-shadow: 0px 5px 10px #EDEDED;
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 14px;
		li{
			padding: 1.9% 0 1.9% 6%;
		} 
		li:hover{
			background-color: #eeeeee;
		}
		a{
			text-decoration: none;
			color: #000;
		}
	}
	#inacc{
	width: 200px;
	height:150px;
	background-color: #fc6721; 
	text-align: center;

	img{
		position: relative;
		width: 25%;
		top:20px;
		left: 30%;
	}
	input{
		position: relative;
		top: 50px;
		left: -13%;
		background: transparent;
		border-radius:2px;
		border:solid 1px white; 
		color: white;
		width: 60%;
		height: 20%;
	}

	p{
		position: relative;
		top: 60px;
		color: #313131;
		font-size: 10px;
	}
	a{	
		color: #fff;
		text-decoration: underline;
	}
}
}
.message{
	position: fixed;
	top:30%;
	left: 25%;
	width: 50%;
	height: 100px;
	background-color: #fff;
	text-align: center;
	color: #19BD9D;
	padding-top: 3%;
	display: none;
	z-index: 3;
}
#back{
	background-color: #000;
	display: none;
	opacity: 0.9;
	width: 100%;
	height: 800px;
	position:fixed;
	top: 0%;
	z-index: 1;
	}
.item-container{
	margin:2% 0 0 5%;
	background-color: #fff;
	width: 90%;
	height: 350px;
	box-shadow: 0px 1px 10px #EDEDED;
	padding-top: 2%;
	overflow: hidden;
	div{
		display: block;
		h3{
			font-size: 18px;
			font-family:open sans semibold;
			display: inline;
			margin: 0% 1% 0 3%;
		}
		a{
			color: #4E8BC1;
			font-size: 15px;
			text-decoration: none;
			display: inline;
		}
		a:hover{text-decoration: underline;}
	}
	.item:hover
		{
		border:1px solid orange; }
	.item{
		margin:2% 0 0 3%;
		width: 20%;
		background: transparent;
		display: inline-block;
		border:1px solid white;
		a{	
			padding-left:3%; 
			font-size: 13px;
			color: black;
		}
		a:hover{text-decoration: underline;}
		p{
			padding-left:3%;
			margin: 0;
			font-weight: bold;
		}
		img{
			margin-left:2%; 
			padding:0;  
			width: 90%;
		}		
	}

	
}
.item-details{
	display:none; 
	width: 80%;
	z-index: 2;
	position: fixed;
	top:5%;
	left: 8.5%;
	height: 600px;
	text-align: center;
	#img-zoom{
		width: 33%;
		height: 100%;
		background-color: #fff;
		border-radius: 2px;
		img{
			width: 75%;
			margin-top: 30%;

		}
	}


	#details{
		margin: -58.6% 0 0 35%;
		width:65%;
		height: 100%;
		background-color: #fff;
		border-radius: 2px;
		h4{
			margin: 0;
			padding:2% 78% 0 0;
		}
		hr{
			border: none;
			height: 1px;
			background-color: #eeeeee;

		}
		#up{
			margin-top: 2%;
			#text{
				margin:0 3% 0 -52%;
			}
			p{
				margin-right: 3%;
				display: inline;
				color: #444444;
			}
			p:hover{
				text-decoration: underline;
			}
			img{
				width: 2%;
				top: 3px;
				left: 0.3%;
				position: relative;
			}
			hr{
				margin: 0;
				background-color: grey;
				height: 3%;
				width: 0.5px;
				border: none;
				display: inline-block;
			}
		}
	}
}
#view{
	margin: 5% 0 0 25%;
	border:1px solid #19BD9D;
	background:transparent;
	border-radius: 2px; 
	width: 50%;
	height: 50px;
	color:#19BD9D;
	font-size: 20px;
	font-weight: bold;
}
#view:hover{
	background-color:#19BD9D;
	color: white;
}
.login-container{
	z-index: 2;
	display: none;
	position: fixed;
	top:5%;
	left: 25%;
	width: 50%;
	height: 600px;
	background-color: #fff;
	text-align: center;
	h1{
		font-weight: lighter;
		display: block;
		margin-left: -50%;
		padding-top: 5%;
	}
	input[type="text"],
	input[type="password"]{
		width: 50%;
		height: 30px;
		border: solid 5px #c9c9c9;
		transition: border 0.3s; 
		outline: none;
		display: block;
		margin:5%  24% ;
	}
	input[type="text"]:focus,
	input[type="password"]:focus{
		border: solid 5px orange;
		outline: none;
	}
	input[type="submit"]{
		border:none;
		background-color: orange;
		width: 20%;
		height: 40px;
		color: white;
		font-weight: bold;
		font-size: 15px;
		border-radius: 2px;
		margin: 0 2% 0 0%;
	}
	a{
		color: #4E8BC1;
		text-decoration: none;
	}
	#divider{
		margin-top: 10%;
	}

	.line{
		width: 15%;
		height: 1px;
		background-color: grey;
		border:none;
	}
	.face,.goo{
		width: 30%;
		height: 8%;
		border:solid 1px;
		border-radius: 2px;
		background: transparent;
		display: inline-block;
		text-align: center;
		padding-bottom:1%;
		margin-top: 7%;
	}
	.goo{
		border-color: #DE4B3A;
		color: #DE4B3A;
	}
	.goo:hover{
		background-color: #DE4B3A;
		color: #fff;
	}
	.face{
		border-color: #3B5999;
		color: #3B5999;
	}
	.face:hover{
		background-color: #3B5999;
		color: #fff;
	}
	a{
		margin-left: 1%;
	}
	#register{
		display: none;
		input[type="text"],
		input[type="password"]
		{
			margin:2% 3%;
			width: 35%;
			display: inline;
		}
		input[type=submit]{
			width: 80%;
			height: 40px;
			margin: 5% 0 0 0% ;
		}

	}
	#forgot{
		display: none;
		input[type=text]
		{
			margin: 6% 0 0 25% ;
		}
		input[type=submit]{
			height: 40px;
			margin: 5% 0 0 0% ;
		}
}
}
#cart1{
	display: none;
	z-index: 10;
	position: fixed;
	top:10%;
	left: 10%;
	width: 80%;
	height: 500px;
	background-color: #eeeeee;
	text-align: center;
	overflow: scroll;
	padding-top: 1.5%;
	.cartitem{
		display: inline-block;
		float: left;
		width: 45%;
		height: 200px;
		background-color: #fff;
		margin:2% 2%;

		.phonepic{
			margin: -15% 80% 0 0;
			width: 30%;
			float: left;
		}
		p{
			
			display: block;
			position: relative;
		}
		.delbtn{
			width: 5%;
			float: right;
			margin-top: -19%;
		}
		ul{
			opacity: 0.5;	
			position: relative;
			top: -80%;
			left: 30%;
			text-align: left;
			list-style: none;
			width: 280px;
		}

	}
	#empty{
		opacity: 0.5;
		font-weight: bold;
		font-size: 30px;
		margin-top: 20%;
	}
}
#footer{
	display: block;
	background-color: #313131;
	width: 100%;
	height: 300px;
	margin-top: 3%;

		#pp{
			margin-left: 5%;
			float: left;
		}
		#co{
			margin-left: 4%;
			float: left;
		}
		#pa{
			margin-right: 7%;
			float: right;
		}
		#tb{
			margin-right: 5%;
			float: right;  
		}
		lh{
			color: #fff;
			padding-bottom: 4%;
		}
		li{	
			padding:3% 0%;
			display: block;
		}
		a{
			font-size: 12px;
			opacity: 0.5;
			color: white;
			display: block;
			text-decoration: none;
		}
		a:hover{text-decoration: underline;}
		img{
			width: 15%;
			opacity: 0.2;
			margin: 2% 0 0 11.9%;
			padding-bottom: 2%;
		}
		#sw{
			margin: 0% 0 0 42%;
			position: relative;
			top:-4%;
			left: -3%;
			padding-bottom: 4%;
			list-style: none;
			li{
				width: 30px;
				display: inline;
				margin: 0;
				img{
					margin: 0;
					width: 4%;
					opacity: 1;
				}
			}
		}
	#infoot{
	background-color: #252525;
	width: 100%;
	height: 80px;
	margin-top: -55px;
		p{
			position: relative;
			top:35%;	
			color: white;
			font-family:open sans light;
			text-align: center; 
			a{
			text-decoration: none;
			color: #ff6700;
			display: inline;
			font-size: 16px;
			opacity: 1;
			}
		}
		
	}

	}
































